{% if DEFAULT_PAGINATION %}
    <div class="pagination">
        {% if not articles_previous_page %}
            <em>&laquo; Prev&nbsp;</em>
        {% else %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo; Prev</a>
        {% endif %}

            {% for page_number in range( 1, 1 + articles_paginator.num_pages ) %}
                {% if articles_page.number == page_number %}
                <em>&nbsp;{{ page_number }}&nbsp;</em>
                {% else %}
                <a href="{{ SITEURL }}/{{ page_name }}{{ page_number if page_number > 1 else '' }}.html">&nbsp;{{ page_number }}&nbsp;</a>
                {% endif %}
            {% endfor %}

        {% if not articles_next_page %}
            <em>&nbsp;Next &raquo;&nbsp;</em>
        {% else %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&nbsp;Next &raquo;&nbsp;</a>
        {% endif %}
    </div>
{% endif %}